@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  --background: hsl(217, 54%, 11%);
  --card-background: hsl(216, 50%, 16%);
}

h2 { 
  color: white;
  margin-block: 1rem;
  font-weight: 500;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 1rem;
  max-width: 80vw;
  padding: 1rem;
  text-align: left;
}

.grey-text {
  color: hsl(215, 51%, 70%);
}

span {
  color: white;
}

.time-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31%;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31%;
  color: hsl(215, 51%, 70%);
}

.clock, .icon {
  padding-top: 4px;
}

.equilibrium-image {
  width: 100%;
  border-radius: 0.8rem;
}

/* .testing {
  width: inherit;
  height: inherit;
} */

/* .equilibrium-image:hover {
  cursor: pointer;
  background-color: hsl(178, 100%, 50%);
  background-blend-mode: multiply;
} */

.equilibrium-image:hover {
  cursor: pointer;
  background-color: hsl(178, 100%, 50%);
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
  width: 10%;
}

.creator-text {
  padding-left: 1.6rem;
}

.footer {
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 426px) {
  .card {
    width: 40vw;
  }

  .price, .time {
    width: 40%;
  }
}

@media (min-width: 800px) {
  .card {
    width: 30vw;
  }

  .price, .time {
    width: 35%;
  }
}

@media (min-width: 1017px) {
  .card {
    width: 21vw;
  }

  .price, .time {
    width: 30%;
  }
}

h2:hover, span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

